{% extends 'phil/base.html' %}
{% load static %}   <!-- This tag connecting to static files (CSS,JS,IMAGES) -->


{% block content %}


<h1>Аналитика (с использованием Excel, SQL, Python)</h1>
<p>Люблю принятие решений, основанное на цифрах (фактах). Данные, основанные на цифрах, красиво и понятно визуализирую (графики, таблицы и пр.)</p>
<ul>
<li type="square">владею Excel & GoogleSheets;</li>
<li type="square">владею Git & GitHub;</li>
<li type="square">владею MySQL, SQLite, PostgreSQL;</li>
<li type="square">фреймворк Django;</li>
<li type="square">библиотеки PYTHON NumPy, Pandas, Tkinter.</li>
</ul>

<h3>Система, созданная мною на Excel (Google Sheets):</h3>
<ul><b>Преимущества Excel (Google Sheets):</b>
    <li type="square">Все можно считать (учитывать) и сохранять;</li>
    <li type="square">На основе сохранённых данных можно планировать расходы и поступления в будущем;</li>
    <li type="square">Можно настроить удаленную передачу информации. Нужен только интернет. У вас будет доступ всегда, даже если куда-нибудь уедете. Доступ возможен даже с мобильного телефона;</li>
    <li type="square">Все можно посмотреть с любого современного смартфона. Компьютер не нужен. Для настройки отображения нужен только пользовательский навык, не нужно привлекать системного администратора;</li>
    <li type="square">Возможность настроить удобный вам вид отчета. Акцентировать важные данные, убрать ненужные;</li>
    <li type="square">Специалистов Excel довольно много. Без проблем можно найти альтернативного специалиста, в отличии от специальных программ (даже для распространенной 1С труднее).</li>
</ul>
<img src="{% static 'phil/excel/structure.png' %}"><br><br>
<ul><b>Скачать:</b>
    <li type="square"><a href="https://drive.google.com/file/d/1N_ebNLDfBDGeC-Z9qLFU9jH_8tCz4G7e/view?usp=sharing" target="_blank">Схема крупнее (png файл);</a></li>
    <li type="square"><a href="https://docs.google.com/spreadsheets/d/1CsraczEpUd6saEuoUln3y0KSCUfCm00hDrzM_f3IFrE/edit?usp=sharing" target="_blank">Сводная таблица (GSheets файл);</a></li>
    <li type="square"><a href="https://www.dropbox.com/s/zbvqnhs9z9pwzhm/%D0%A8%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD%20%D1%80%D0%B0%D1%81%D1%87%D0%B5%D1%82%D0%BA%D0%B0.xlsx?dl=0" target="_blank">Файл учета торговых точек (Excel файл).</a></li>
</ul><div align="center">
<img src="{% static 'phil/excel/without_hands.jpeg' %}"><br><br>
<h2>Аналитика. Учитываем отношение к прошлому месяцу и к среднему значению за год:</h2><br>
<img src="{% static 'phil/excel/analytics.jpg' %}"><br><br>

<h2>“Формулка”. Одна из. Таких формул там много:</h2><br>
<img src="{% static 'phil/excel/formula.jpg' %}"><br><br>
</div>
<a href="{{ '../../about#soft-skills' }}"><b>Информация обо мне: мои SOFT-skills & привычки</b></a>
<br><br>
{% endblock content %}