{% extends 'phil/base.html' %}

{% block content %}
<h1>Разработка веб-проектов с использованием фреймворка Django (Python)</h1>

<b>Практика:</b>
<ul>Прошел <a href="https://www.youtube.com/watch?v=FyTL1bnUx5I&list=PLA0M1Bcd0w8xO_39zZll2u1lz_Q-Mwn1F" target="_blank">обучение Selfedu</a>, <a href="{% url 'home' %}">создал учебный cпроект "Women"</a> (ссылка на главную страницу учебного проекта)</a>.<br>
<b>В проекте:</b>
<li type="square">подбор статей с фотографией;</li>
<li type="square">статьи разделены на категории, можно выбрать отображение статей по определенным категориям;</li>
    <li type="square">создание <a href="{% url 'register' %}" target="_blank">регистрации</a> и <a href="{% url 'login' %}" target="_blank">авторизации</a> пользователей;</li>
<li type="square"><a href="{% url 'add_page' %}" target="_blank">добавление статей на сайт с фотографией.</a> Возможно сделать только зарегистрированным и авторизованным пользователям;</li>
<li type="square">для маршрутизации к статьям используются слаги (slug);</li>
<li type="square">использование MIXINs для того, чтобы убрать дублирование кода;</li>
<li type="square">использование постраничной навигации (пагинация);</li>
</ul>

<ul><b>Дополнительно:</b>
<li type="square">данный сайт полностью сделан на фреймворке Django: здесь создаю и выкладываю проекты (в том числе и учебные). Исходный код данного проекта можно посмотреть на <a href="https://github.com/Phil-naz/djsite" target="_blank">GitHub</a>;</li>
<li type="square"><a href="{% url 'texts' %}" target="_blank">создал страницу с добавлением заметок (текстов) зарегистрированным и авторизованным пользователям. Можно добавлять изображение;</li>
<li type="square"><a href="{% url 'measurements' %}" target="_blank">создаю приложение, в котором можно будет сохранять и смотреть динамику своих замеров тела;</a></li>
<li type="square">создаю приложение со списком прочитанных книг, в котором можно будет писать свое описание книги и добавлять цитаты из книги;</li>
<li type="square">владею HTML и CSS.</li>
</ul>

<a href="{{ '../../about#soft-skills' }}"><b>Информация обо мне: мои SOFT-skills & привычки</b></a>
<br><br>

{% endblock content %}

