{% extends 'phil/base.html' %}
{% load static %}


{% block content %}
<br>

<div align="center">
<h1>Замеры тела</h1>
<b>Приложение, которое позволит вам вносить замеры своего тела находится в разработке. Оно позволит вам вносить замеры своего тела:
<br><br><img src="{% static 'phil/images/measurements.png' %}"><br>
хранить историю и сравнивать ваши показатели с предшествующей датой. Идеи и предложения пишите <a href="mailto:6544880@mail.ru">на почту 6544880@mail.ru</a><br>
</b><br>
</div>
{% endblock content %}