{% extends 'phil/base.html' %}
{% load static %}
{% load i18n %}

<title>1</title>

{% block content %}
<br>

<div align="center">
<h1>{% trans 'Замеры тела' %}</h1>
<b>{% trans 'Приложение, которое позволит вам вносить замеры своего тела находится в разработке. Оно позволит вам вносить замеры своего тела:' %}
<br><br>
<table border="0" cellpadding="0" cellspacing="0">
<tr><td><img src="{% static 'phil/images/measurements.png' %}"></td><td width="10"></td><td>
{% trans '1. ПЛЕЧИ' %}<br>
{% trans '(по самому большому месту, шраму или родинке)' %}<br><br>
{% trans '2. ГРУДЬ' %}<br>
{% trans '(по соскам)' %}<br><br>
{% trans '3. ТАЛИЯ' %}<br>
{% trans '(по нижнему ребру)' %}<br><br>
{% trans '4. ЯГОДИЦЫ' %}<br>
{% trans '(по самому большому месту, шраму или родинке) ' %}<br><br>
{% trans '5. БЕДРА' %}<br>
{% trans '(левое и правое - по самому большому месту, шраму или родинке)' %}
</td></tr></table>
{% trans 'хранить историю и сравнивать ваши показатели с предшествующей датой. Идеи и предложения пишите на почту' %} <a href="mailto:6544880@mail.ru">6544880@mail.ru</a><br>

</b><br>
</div>
{% endblock content %}